.fullcenter {
	width: 100%;
	vertical-align: middle;
}

img.center {
	display: block;
	margin-left: auto; margin-right: auto;
}

.scrollable {
	overflow: auto;
}

.padding {
	padding: 5px;
}

a.hovunderline {
	text-decoration: none;
}

a.hovunderline:hover {
	text-decoration: underline;
}

div.placeholder {
	display: inline-block;
	margin: 0;
	border: none;
	padding: 0;
}

h1.center, h2.center, h3.center, h4.center, h5.center {
	text-align: center;
}

.nomargin {
	margin: 0;
}
