button.infobutton {
	padding: 0;
	font-weight: bold;
	background-color: var(--infobutton-bg);
	width: var(--infobutton-width);
	height: var(--infobutton-height);
	border-radius: var(--infobutton-border-rounding);
	color: var(--infobutton-text);
	border: var(--infobutton-border-width) solid var(--infobutton-border);
	transition: 0.25s ease-out;
}

button.infobutton:hover, button.infobutton:focus {
	color: var(--infobutton-hover-text);
	border: var(--infobutton-border-width) solid var(--infobutton-hover-border);
}
