body {
	background-color: #4D97FF;
	height: 100%;
	margin: 0;
	padding: 0;
	
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: min(var(--sideinfobar-width), var(--sideinfobar-max-width)) calc(100% - min(var(--sideinfobar-width), var(--sideinfobar-max-width)) - var(--element-distance));
	grid-gap: var(--element-distance);
}

body > header {
	grid-row: 1 / 1;
	grid-column: 1 / -1;
}

body > div.wrapper-sideinfobar {
	grid-row: 2 / span 1;
	grid-column: 1 / 1;
}

body > main {
	grid-row: 2 / span 1;
	grid-column: 2 / 2;
	margin: 0 var(--element-distance) 0 0;
}

body > footer {
	grid-row: 3 / span 1;
	grid-column: 1 / -1;
}
