div.projects:not(:last-child) {
	display: block;
	border-radius: 20px 20px 0 0;
	box-shadow: 0 2px 3px rgba(34,25,25,0.3);
	padding: 0;
	margin: 0;
	margin-bottom: var(--element-distance);
}

div.projects > div.top {
	background-color: lightgray;
	margin: 0;
	border-radius: 20px 20px 0 0;
	padding: 5px 20px;
	min-height: 31px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div.projects > div.top * {
	vertical-align: middle;
}

div.projects > div.top > h4 {
	margin-bottom: 0;
	display: inline-block;
	font-size: 1.2308em;
	line-height: 1.25em;
	font-weight: 700;
	color: #222222;
	margin: 0;
	padding: 0;
	flex-grow: 0;
}

div.projects > div.top > h4 img:not(.large) {
	max-height: 30px;
}

div.projects > div.top > h4 img {
	margin-right: 10px;
}

div.projects > div.top > h4 > a {
	color: currentcolor;
	text-decoration: none
}

div.projects > div.top > h4 > a:hover {
	text-decoration: underline;
}

div.projects > div.top > button.fold {
	font-size: 1em;
	border-radius: 100px;
	padding: 0 10px 0 20px;
	float: right;
	border: 2px solid #E0E0E0;
	background: #EEEEEE;
	color: #111111;
	transition: 0.5s ease;
	position: relative;
	height: 100%;
	top: 0; bottom: 0;
	margin: auto;
	margin-right: 0;
}

div.projects > div.top > button.fold:hover {
	border-color: #1AA0D8;
	color: #1AA0D8;
}

div.projects > div.top > button.fold:focus {
	border-color: #0000FF;
}

div.projects > div.top > button.fold::before {
	content: "";
	position: absolute;
	border: 5px solid transparent;
	border-left-color: #111111;
	top: 7px;
	left: 9px;
	transform-origin: 25% 50%;
	transition: 0.5s ease;
}

div.projects > div.top > button.fold:hover::before {
	border-left-color: #1AA0D8
}

div.projects.expand > div.top > button.fold::before {
	transform: rotate(90deg);
}

div.projects > ul.scroll {
	display: block;
	padding: 10px 10px;
	overflow: auto hidden;
	list-style-type: none;
	margin: 0;
	white-space: nowrap;
	background-color: #FFFFFF;
}

div.projects.expand > ul.scroll {
	white-space: normal;
}

div.projects > ul.scroll > li.project {
	display: inline-block;
	width: 146px;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid transparent;
}

div.projects > ul.scroll > li.project:not(:last-child) {
	margin-right: var(--projectrows-project-distance);
}

div.projects > ul.scroll > li.project:hover {
	border: 1px solid lightgray;
}

div.projects > ul.scroll > li.project img {
	border: 1px solid #DDDDDD;
	margin-bottom: 2;
}

div.projects > ul.scroll > li.project a {
	color: currentcolor;
	text-decoration: none;
}

div.projects > ul.scroll > li.project > a{
	color: #1AA0D8;
}

div.projects > ul.scroll > li.project a:hover {
	text-decoration: underline;
}

div.projects > ul.scroll > li.project div.title {
	color: #1AA0D8;
	font: 81.25% 'Lucida Grande',arial,sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .9230em;
	font-weight: 800;
}

div.projects > ul.scroll > li.project div.creator {
	font-family: "helvetica neue",arial,sans-serif;
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .8462em;
}
