div.sideinfobar {
	position: sticky;
	width: min(var(--sideinfobar-width), var(--sideinfobar-max-width));
	height: 90vh;
	top: 5%;
	left: 0;
	overflow: auto;
	border-radius: 0 20px 20px 0;
	border: none;
	box-shadow: 0 2px 3px rgba(34,25,25,0.3);
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

div.sideinfobar > div:first-child {
	background-color: lightgray;
	padding: 5px;
	padding-bottom: 15px;
	max-height: 30%;
	flex-grow: 0;
}

div.sideinfobar > div.description {
	flex-grow: 1;
}

div.sideinfobar > div.description > div.hidescrollindicatoratbottom {
	height: var(--sideinfobar-text-scroll-indicator);
}

div.sideinfobar > div.linklist {
	bottom: 0;
	display: block;
	width: 100%;
	padding: 0; margin: 0;
	box-shadow: 0 calc(-1 * var(--sideinfobar-text-scroll-indicator)) var(--sideinfobar-text-scroll-indicator) #FFFFFF;
	flex-grow: 0;
}

div.sideinfobar > div.linklist > h2.title {
	font-weight: 600;
	font-size: 1em;
}

div.sideinfobar > div.linklist > ul {
	list-style-type: none;
	width: 100%;
	padding: 0; margin: 0;
	overflow: auto;
}

div.sideinfobar > div.linklist > ul > li {
	list-style-type: none;
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
}

div.sideinfobar > div.linklist > ul > li > a {
	display: block;
	text-decoration: none;
	color: currentColor;
	padding: 12px;
	padding-left: 0; padding-right: 0;
	
	color: #FFFFFF;
	font-weight: 500;
}

div.sideinfobar > div.linklist > ul > li > a:hover {
	color: #000000;
	background: var(--sideinfobar-hover-bg);
}
